__pycache__
.coverage
.DS_Store
.env
*.egg-info
*.lcov
dist
htmlcov
venv
output/*
debug/*
.cursorrule
frontend/react-dashboard/node_modules/.cache/
# Temp files and folders
*.tmp
*.temp
*.swp
*.swo
*~
*.bak
*.orig
*.log
*.pid
*.lock
.cache/
tmp/
temp/
logs/